{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <style>
        img {
        display:block;
        width: 300px;
        height: 400px;
        margin:0 auto;
        }
        div {
        text-align: center;
        margin:0 auto;

        }
        #al {
        display:block;
        text-align: center;

        color: dark cyan;
        }
        a {
        display:block;


        color: dark cyan;
        font-size: 50px;
        }
    </style>


<img src="http://monthly.chosun.com/up_fd/Mdaily/2017-09/bimg_thumb/2017042000056_0.jpg">

<p id="al">Your password was change</p>
<p><a href="{% url 'index' %}">Go Index</a></p>
{% endblock content %}

